body {
    margin: 0;
    padding: 0;
}

section {
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-part {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images/donation4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    text-align: center;
    padding: 150px;
}

#heading {
    color: white;
    font-size: 50px;
}

#br-text {
    color: aliceblue;
    padding-bottom: 30px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(255, 77, 77);
    padding: 15px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

h1 {
    text-align: center;
    color: black;
    font-size: 45px;
}

.d-today {
    text-align: center;
    color: gray;
}

.amount {
    color: grey;
    display: flex;
    margin: 0px 200px;
    justify-content: space-around;
}

.taka {
    background-color: beige;
    padding: 10px 20PX;
    margin: 10px;
    border-radius: 5%;
}

#select {
    color: rgb(255, 128, 128);
    background-color: rgb(255, 230, 230);
    border: 2px;
    border-style: solid;
    border-color: gb(255, 128, 128);
}

.other-amount {
    text-align: center;
    color: gray;
}

.other-amount input {
    text-align: center;
    font-size: 25px;
    height: 30px;
    width: 700px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-width: 0px 0px 2px 0px
}

.other-amount button:hover {
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    color: rgb(255, 77, 77);
}

.other-amount button {
    color: white;
    background: rgb(255, 77, 77);
    padding: 15px 40px;
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
}

.donate-plan {
    margin-top: 150px;
    margin-bottom: 80px;
}

.items {
    display: flex;
    justify-content: space-between;
    max-width: 20px 0px;
}

.Food {
    margin: 10px;
    background-color: rgb(217, 252, 255);
    padding: 50px 35px;
}

.shelter {
    margin: 10px;
    background-color: rgb(253, 237, 255);
    padding: 50px 35px;
}

.education {
    margin: 10px;
    background-color: rgb(247, 246, 218);
    padding: 50px 35px;
}

.contribute-part-01 {
    display: flex;
}

.their-lives {
    width: 50%;
}

.their-lives img {
    width: 450px;
    height: 450px;
    margin: 60px;
    border-radius: 3%;
}

h2 {
    font-size: 40px;
}

#tl-items {
    margin: 60px;
}

.contribute-part-02 {
    display: flex;
}

.contribute {
    color: white;
    background: rgb(255, 77, 77);
    padding: 15px 40px;
    margin-top: 35px;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
}

.para {
    color: gray;
}

.updates {
    margin-top: 10px;
    margin-bottom: 20px;
}

.updates p {
    text-align: center;
    color: gray;
}

.submisson {
    display: flex;
    justify-content: center;
    border: 0px;
    padding: 60px;
    background: wheat;
    margin: 100px 150px;
}

.email input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 0px;
}

.sub-button {
    color: white;
    background: rgb(255, 77, 77);
    width: 300px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    transition: 0.3s;
}

footer {
    text-align: center;
    background-color: rgb(7, 1, 43);
    padding: 20px;
}

.done h2 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(255, 77, 77);
}

#humble {
    color: aliceblue;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
}